body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.boxed {
    width: 100%;
}
.bottom {
    position: absolute;
    bottom: 0;
}

/* Split the screen */
.splitTop {
    height: 90%;
    width: 100%;
    position: fixed;
    z-index: -1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

/* Split the screen */
.splitBottom {
    height: 10%;
    width: 100%;
    position: fixed;
    z-index: 1;
    bottom: 0;
    overflow-x: hidden;
}

/* Control the top side */
.top{
    top: 0;
    background-color: #ffffff;
}

/* Control the bottom side */
.down {
    bottom: 0;
    background-color: #228B22;
    color: white;
}
