<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/chat.css'/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/scripts/chat.js"></script>
    <script src="/scripts/canvas.js"></script>
</head>
<body onload="init()">
<h1><%= title %></h1>
<div id="initial_form" style="display: block">
    <p>Please insert the id of the Room you want to Join, if you do not have a room id, click Generate Room</p>
    <form onsubmit="return false;">
        <p><label for="name"> Your name </label>
            <input type="text" id="name" name="name">
        </p>
        <p>
            <label for="roomNo"> Your room </label>
            <input type="text" id="roomNo" name="roomNo">
        </p>
        <button id="connect" onclick="connectToRoom()">Connect</button>
    </form>
</div>
<div id="chat_interface" style="display: none">
    <div id="chat_container" class="splitBottom down">
        <h1>Comment</h1>
        <div>
            <div id="who_you_are" style="display: inline"></div>
            , you are commenting in the story:
            <div id="in_room" style="display: inline"></div>
        </div>
        <div id="chat_history" class="boxed"></div>
        <div id="chat_box" class="bottom boxed">
            <form onsubmit="return false;" style="width: 100%">
                <p>
                    <label for="name"> chat: </label>
                    <input type="text" id="chat_input" name="chat_input" style="width: 80%">
                    <button id="chat_send" onclick="sendChatText()">Send</button>
                </p>
            </form>
        </div>
    </div>
    <div id="news_container" class="splitTop top">
        <h1>Story</h1>
        <div id="news_history" class="boxed">
            <title id="story_title"></title>
            <img id="img">
            <canvas  id="canvas" ></canvas>
            <p id="description"></p>
        </div>
    </div>
</div>
</body>
</html>
